@charset "UTF-8";
@import "inc.css" print;


@keyframes identifier {
  0% { top: 0; left: 0; }
  30% { top: 50px; }
  68%, 72% { left: 50px; }
  100% { top: 100px; left: 100%; }
}

@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
  font-weight: bold;
}

.a, .b, .c {
  color: red;
}

@media screen {
  .x, .xx, .xxx {
    color: transparent;
  }

  .y {
    color: inherit;
  }
}

@media all {
  .b {
    color: green;
  }
}

@media only all {
  .b {
    color: green;
  }
}
